
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="前端培训,靠谱的前端培训, 好的前端培训, 饥人谷, 前端培训机构, 专业的前端培训, 前端" name="keywords">
    <meta content="饥人谷前端培训-靠谱的前端培训" name="description">
    <meta name="viewport" charset="UTF-8" content="user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="baidu-tc-verification" content="de5877bb8a9756ef3aa8217110e60ef2" />
    <title>饥人谷-靠谱的前端、Java、Python、算法培训机构</title>
    <link href="https://jirengu.com/addons/theme/stv1/_static/image/favicon.ico?v=20141107" type="image/x-icon" rel="shortcut icon">
    <!--CSS-->

    <link rel="stylesheet" href="//at.alicdn.com/t/font_1467879020_7965536.css">
    <link rel="stylesheet" href="https://jirengu.com/addons/theme/stv1/_static/app/index-new/css/index-merge.min.css?v=14">

</head>

<body>
    <div id="header">
        <div class="layers">
<!--             <div class="layer-shadows">
                <div class="layer-shadow1"></div>
                <div class="layer-shadow2"></div>
            </div> -->
            <div class="layer-star">
                <div class="star style1 pos-1"></div>
                <div class="star style2 pos-2"></div>
                <div class="star style2 pos-8"></div>
                <div class="star style3 pos-3"></div>
                <div class="star style4 pos-4"></div>
                <div class="star style5 pos-5"></div>
                <div class="star style5 pos-6"></div>
                <div class="star style1 pos-7"></div>
            </div>
            <div class="layer-meteors">
                <div class="layer-meteor1"></div>
                <div class="layer-meteor2"></div>
            </div>
            <div class="layer-mountains">
                <div class="layer-mountain3"></div>
                <div class="layer-mountain2"></div>
                <div class="layer-mountain1"></div>
            </div>
<!--             <div class="layer-logo">
                <form class="search-video" action="/searchVideo" method="GET" >
                    <input  type="text" placeholder="搜索课程按回车" name="searchkey" value="">
                </form>
            </div> -->
             <div class="layer-ad">
                <div class="year2-up"></div>
                <div class="year2-down">
                    <!-- <a class="year2-btn blink" target="_blank" href="https://mp.weixin.qq.com/s/XeVpreh6-WtzQcgEsnWWKA">618特惠</a> -->
                </div>
                <form class="search-video" action="/searchVideo" method="GET" >
                    <input  type="text" placeholder="搜索课程按回车" name="searchkey" value="">
                </form>
            </div>
            <div class="layer-notice"></div>
            <div class="layer-monster">
                <div class="monster-talk dance-tooltip tooltip--amras" data-type="amras">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=1668537174&site=qq&menu=yes" title="QQ联系教导员">
                    <div class="tooltip__trigger" role="tooltip" aria-describedby="info-amras">
                        <span class="tooltip__trigger-text">
                            <img src="https://cloud.hunger-valley.com/18-3-21/31390530.jpg" alt=""></span>
                    </div>
                    <div class="tooltip__base">
                        <svg class="tooltip__shape" width="100%" height="100%" viewBox="0 0 400 300">
                            <path class="path-amras-2" d="M 293,106 A 90.1,90.1 0 0 1 203,197 90.1,90.1 0 0 1 112,106 90.1,90.1 0 0 1 203,16.2 90.1,90.1 0 0 1 293,106 Z"/>
                            <path class="path-amras-3" d="M 324,66.2 A 46.9,46.9 0 0 1 277,113 46.9,46.9 0 0 1 230,66.2 46.9,46.9 0 0 1 277,19.3 46.9,46.9 0 0 1 324,66.2 Z"/>
                            <path class="path-amras-1" d="M 180,111 A 67.2,67.2 0 0 1 112,178 67.2,67.2 0 0 1 45.9,111 67.2,67.2 0 0 1 112,43.5 67.2,67.2 0 0 1 180,111 Z"/>
                            <path class="path-amras-4" d="M 371,98.6 A 52.7,52.7 0 0 1 318,152 52.7,52.7 0 0 1 266,98.6 52.7,52.7 0 0 1 318,45.9 52.7,52.7 0 0 1 371,98.6 Z"/>
                            <path class="path-amras-9" d="M 375,167 A 66.8,55.1 0 0 1 308,222 66.8,55.1 0 0 1 241,167 66.8,55.1 0 0 1 308,112 66.8,55.1 0 0 1 375,167 Z"/>
                            <path class="path-amras-5" d="M 187,199 A 52,52 0 0 1 136,251 52,52 0 0 1 84.1,199 52,52 0 0 1 136,147 52,52 0 0 1 187,199 Z"/>
                            <path class="path-amras-6" d="M 287,217 A 66.8,66.8 0 0 1 221,284 66.8,66.8 0 0 1 154,217 66.8,66.8 0 0 1 221,150 66.8,66.8 0 0 1 287,217 Z"/>
                            <path class="path-amras-7" d="M 132,168 A 53.9,53.9 0 0 1 78.7,222 53.9,53.9 0 0 1 24.8,168 53.9,53.9 0 0 1 78.7,114 53.9,53.9 0 0 1 132,168 Z"/>
                            <path class="path-amras-8" d="M 343,211 A 48.7,48.7 0 0 1 295,260 48.7,48.7 0 0 1 246,211 48.7,48.7 0 0 1 295,163 48.7,48.7 0 0 1 343,211 Z"/>
                        </svg>
                        <div class="tooltip__content" id="info-amras">咨询课程联系班主任小姐姐的微信哦！嗡嗡：xiedaimala02、青青：xiedaimala01、圆圆：hungervalley

                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar clearfix">
            <ul>
                <li><a href="https://xiedaimala.com">新平台</a></li>
                <li><a href="javascript:void(0)">课程<span class="iconfont icon-xia"></span></a>
                    <div class="dropdown">
                        <ul class="inner">
                            <li><a href="/index.php?app=classroom&mod=About&act=charge#task">前端系统班</a></li>
                            <li><a href="/index.php?app=classroom&mod=About&act=charge#node">Node全栈班</a></li>
                            <li><a href="/index.php?app=classroom&mod=About&act=charge#vue">Vue 项目班</a></li>
                            <li><a href="/index.php?app=classroom&mod=About&act=charge#react">React项目班</a></li>
                            <li><a href="/app/teacher/index">讲师介绍</a></li>
                            <li><a href="http://cn.mikecrm.com/wKtPjUw">预约试听</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="/app/album/index">旧版视频</a></li>
                <li><a href="http://blog.jirengu.com/?cat=11">就业</a></li>
                
                
               
                <li><a href="javascript:void(0)">更多 <span class="iconfont icon-xia"></span></a>
                   <div class="dropdown big-dropdown">
                        <div class="inner">
                                                            <div class="login-area">
                                    <img src="https://jirengu.com/addons/theme/stv1/_static/image/noavatar/small.jpg" alt="">
                                    <p>Hi, 冷山, <a id="btn-logout" href="javascript:void 0">注销</a></p>
                                    <p><a href="https://jirengu.com/index.php?app=public&mod=Message&act=index">系统通知</a> <a href="https://jirengu.com/app/home/video">我的课程</a><a href="https://jirengu.com/app/user/setInfo">设置</a></p> 
                                    
                                </div>
                                                        <dl>
                                <dt>谷中学习</dt>
                                <dd><a href="/live">直播</a></dd>
                                <dd><a href="https://jscode.me">老任务平台jscode</a></dd>
                                <dd><a href="http://book.jirengu.com/fe">课件</a></dd>
                                <dd><a href="https://www.zhihu.com/question/41845934">学习感悟</a></dd>
                            </dl>
                            <dl>
                                <dt>专栏&博客</dt>
                                <dd><a href="https://zhuanlan.zhihu.com/study-fe">前端学习指南</a></dd>
                                <dd><a href="https://zhuanlan.zhihu.com/jirengu">学生博客精选</a></dd>
                                <dd><a href="http://blog.jirengu.com/?cat=10">官方博客</a></dd>
                                
                                <dd><a href="http://www.jianshu.com/collection/38dd7fc9033a"">学生博客</a></dd>
                            </dl>

                            <dl>
                                <dt>资源</dt>
                                <dd><a href="http://hungerworks.com">作品集</a></dd>
                                <dd><a href="http://api.jirengu.com/">学习API</a></dd>
                                <dd><a href="http://js.jirengu.com">jsbin</a></dd>
                                <dd><a href="https://github.com/jirengu-inc">GitHub</a></dd>
                            </dl>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="section-livelist">
          <h2><span style="color:#f5b724;">近期直播</span></h2>
          <div class="md-modal md-effect-13 md-show">
            <div class="md-content">
              <div class="live-schedule clearfix">
                <div class="live-schedule-screen">
                </div>
                <div class="live-schedule-list">
                  <ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>   
        </div>
        <div class="section-bigevent">
            <h2><span >近期新班</span></h2>
            <div class="mod-bigevent">
                <ul class="timeline clearfix">
                                        <li>
                            <a href="javascript:void(0)" class="time">Java系统班</a>
                            <span class="pointer"></span>
                        </li><li>
                            <a href="javascript:void(0)" class="time">前端系统班</a>
                            <span class="pointer"></span>
                        </li><li>
                            <a href="javascript:void(0)" class="time"> Vue造轮子</a>
                            <span class="pointer"></span>
                        </li>

                </ul>
                <div class="wrap">
                    <div class="events-ct">
                        <ul class="events clearfix">
                                                        <li>
                                    <a href="https://mp.weixin.qq.com/s/8w5jQdKT_M6Cc6h8v_CX6A" style="background-image:url(https://jirengu.com/data/upload/2018/0803/13/5b63ec918e86d.png)"></a>
                                </li><li>
                                    <a href="https://mp.weixin.qq.com/s/iJew6hwo-1PA_OkXFmlxqA" style="background-image:url(https://jirengu.com/data/upload/2018/0620/11/5b29c6d6d4a95.png)"></a>
                                </li><li>
                                    <a href="https://mp.weixin.qq.com/s/kAZW7sYZpvXN9WYxnvPokw" style="background-image:url(https://jirengu.com/data/upload/2018/0615/09/5b231d1bb4fa6.png)"></a>
                                </li>                        </ul>
                        <a href="javascript:void(0)" class="btn-left"></a>
                        <a href="javascript:void(0)" class="btn-right"></a>
                    </div> 
                </div>
            </div>

        </div>
        <div class="section-course">
            <div class="layout">
                <h2>班级分类</h2>
                <div class="mod-carousel">
                    <div class="carousel">
                        <ul class="panel-ct clearfix">
                            <li class="panel v2">
                                    <a href="https://jirengu.com/index.php?app=classroom&mod=About&act=charge#task" title="前端系统班">
                                        <hr>
                                        <h3>前端系统班</h3>
                                        
                                        <hr>
                                                                                
                                    </a>
                                </li><li class="panel v3">
                                    <a href="https://jirengu.com/index.php?app=classroom&mod=About&act=charge#node" title="Node全栈班">
                                        <hr>
                                        <h3>Node全栈班</h3>
                                        <hr>
                                                                                
                                    </a>
                                </li><li class="panel v4">
                                    <a href="https://jirengu.com/index.php?app=classroom&mod=About&act=charge#vue" title="Vue 项目班">
                                        <hr>
                                        <h3>Vue 项目班</h3>
                                        <hr>
                                                                                
                                    </a>
                                </li>
                                </li><li class="panel v0">
                                    <a href="https://jirengu.com/index.php?app=classroom&mod=About&act=charge#react" title="React 项目班<">
                                        <hr>
                                        <h3>React 项目班</h3>                   
                                        <hr>
                                    </a>
                                </li>   
                  </ul>                        
                    </div>
                </div>
            </div>

        </div>
        <div class="section-intro">
            <h2>靠谱的互联网技术学习机构</h2>
            <p>饥人谷是前百度、阿里、腾讯前端工程师创立的互联网技能培训机构、涵盖前端、Java、Python、算法等课程，推崇动手、动脑、互助、有爱</p>
            <div class="intro-layers">
                <div class="intro-mountain">
                    <img class="m1" src="https://jirengu.com/addons/theme/stv1/_static/app/index-new/imgs/1.gif" alt="">
                    <h3 class="m1">教学人性化</h3>
                    <div class="m1">给老师最大的教学便利，给同学最全面的关注关怀是教导员妹妹日思夜想的事。在这里会让你深切感受饥人谷人用心、用情的做事风格。</div>

                    <img class="m2" src="https://jirengu.com/addons/theme/stv1/_static/app/index-new/imgs/2.gif" alt="">
                    <h3 class="m2">导师棒棒哒</h3>
                    <div class="m2">饥人谷所有的授课导师为百度、腾讯、阿里、网易、亚马逊等有多年工作经验的工程师，带你走出迷茫无助的学习时光。</div>

                    <img class="m3" src="https://jirengu.com/addons/theme/stv1/_static/app/index-new/imgs/3.gif" alt="">
                    <h3 class="m3">服务很周到</h3>
                    <div class="m3">直播课+任务班的教学模式，既让大家能够快速搭建知识体系，又能让大家自己学着走路学着思考。下课不是结课，而是学习的开始。 </div>

                    <img class="m4" src="https://jirengu.com/addons/theme/stv1/_static/app/index-new/imgs/4.gif" alt="">
                    <h3 class="m4">课程很实用</h3>
                    <div class="m4">课程内容均来自各个导师所在公司工作、面试实践。课程设置是以培养能做事、会思考的工程师为标准。</div>
                </div>
                <div class="intro-bg1"></div>
                <div class="intro-bg2"></div>
                <!-- <div class="intro-star"></div> -->
            </div>
            <div class="intro-weekly">
                <img src="https://jirengu.com/addons/theme/stv1/_static/app/index-new/imgs/weekly.png" alt="">
                <div class="weekly-detail">
                    <h3>饥人谷技术专栏</h3>
                    <p>日更、周更的原创技术文章，让你每天都收获满满</p>
                    <ul>
                        <li>笔试面试</li>
                        <li>每日一题</li>

                    </ul>
                    <ul>
                        <li>知识推荐</li>
                        <li>知识图谱</li>
                    </ul>
                    
                </div>
                <div class="btn-area">
                    <a href="https://zhuanlan.zhihu.com/study-fe" target="_blank" class="btn-v2">知乎专栏</a>
                </div>
            </div>
        </div>


        <div class="section-exp">
            <div class="bg"></div>
            <div><a class="btn-v2" target="_blank" href="https://www.zhihu.com/question/41845934">大家这么说</a></div>
            
        </div>
        <!--<div class="section-contact">
        </div>-->
    </div>
    <div id="footer">
        <div class="layout">
            <ul>
                <li><a href="http://jirengu.com/index.php?app=classroom&amp;mod=About&amp;act=about" target="_blank">关于我们</a></li> |
                <li><a href="http://jirengu01.mikecrm.com/e1aHBGA" target="_blank">加入我们</a></li> |
                <li><a href="http://jirengu.com/index.php?app=classroom&amp;mod=About&amp;act=charge" target="_blank">报名收费</a></li> |
                <li><a href="https://blog.jirengu.com/?cat=11">就业情况</a></li>
                <li><a href="http://pan.baidu.com/s/1hqBBdUc" target="_blank">资源下载</a></li> |
                <li><a href="http://api.jirengu.com" target="_blank">饥人谷API</a></li>

            </ul>
            <ul>
                <li><a href="http://www.miibeian.gov.cn/" target="_blank">© 2014-2015 饥人谷版权所有 浙ICP备14041127号-1</a></li> |
                <li><a href="tel:17034649778">电话: 13018975363</a></li> |
                

                <li class="txt" style="color:#fff">合作伙伴：</li>
                <li><a target="_blank" href="https://leanote.com/">Leanote</a></li>
            </ul>
            <ul>
                <li>饥人谷微信公众号: 饥人谷</li>
                <li> | </li>
                <li>写代码啦公众号: XDML</li>
                <li> | </li>
                <li>班主任微信: hungervalley 或 xiedaimala02 或 astak10 或 xiedaimala01</li>
            </ul>
        </div>
    </div>
    <div id="login-modal" class="login-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">登录</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row bg-white login-modal">
                            <div class="col-md-12 login-wrap">
                                <!-- <h4 class="h4 text-muted login-title">用户登录</h1> -->
                                <form role="form" class="mt30" type="post">
                                    <div class="form-group">
                                        <label class="control-label">邮箱/用户名/手机号</label>
                                        <input type="email" class="form-control login-email" name="mail" required="true" placeholder="邮箱/用户名/手机号">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">密码</label>
                                        <input type="password" class="form-control login-pwd" name="password" required="" placeholder="密码">
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="checkbox pull-left">
                                            <label>
                                                <input class="login-remember" name="login_remember" type="checkbox" > 记住我</label>
                                        </div>
                                        <input type="submit" class="submit-login btn pull-right pl20 pr20" value="登录">
                                    </div>
                                </form>
                                <!--<p class="h4 text-muted visible-xs-block h4">快速登录</p>
                                <div class="widget-login mt30">
                                                                  </div>-->
                            </div>

                            <div class="text-center text-muted">
                                <a href="https://jirengu.com/index.php?app=home&mod=Repwd&act=index" class="ml5">找回密码</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="register-modal" class="register-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">注册</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row bg-white login-modal">
                            <div class="col-md-12 login-wrap">
                                <!-- <h1 class="h4 text-muted login-title">创建新账号</h1> -->
                                <form role="form" class="mt30" type="post">
                                    <div class="form-group">
                                        <label for="mail" class="control-label">邮箱</label>
                                        <input type="hidden" name="mail">
                                        <div class="typehelper" style="position: relative;">
                                            <input type="email" class="form-control register-email" name="mail" required="" placeholder="邮箱">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="name" class="control-label">用户名</label>
                                            <input type="text" class="form-control register-username" name="username" required="" placeholder="用户名">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="password" class="control-label">密码</label>
                                            <input type="password" class="form-control register-pwd" name="password" required="" placeholder="不少于 6 位">
                                        </div>
                                    </div>
                                    <div class="form-group captcha-area">
                                        <label class="required control-label">验证码</label>
                                        <input type="text" class="form-control register-captcha" id="captcha" name="captcha" placeholder="输入验证码">
                                        <div class="mt10">
                                            <a id="login-reload-captcha" href="javascript:void(0)"><img src="https://jirengu.com/public/captcha.php" data-src="https://jirengu.com/public/captcha.php" class="captcha" title="点击刷新" height="30"></a>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="checkbox pull-left hidden">
                                            同意并接受<a href="#" target="_blank">《服务条款》</a>
                                        </div>
                                        <a href="javascript:void(0)" class="submit-register btn btn-primary pull-right">注册</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="qrcode-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title">安全验证</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row bg-white login-modal">
                            <div class="col-md-12 login-wrap">
                                <p class="text-danger">检测到您的账号有安全风险，可使用微信关注【饥人谷】公众号，在公众号内观看视频和直播</p>
                                <p>扫码下方二维码，或者保存二维码图片到本地后使用微信打开识别，即可进入公众号</p><div style="text-align: center;"><img src="http://ww1.sinaimg.cn/large/005M7QYPly1fjnpb1swghj3076076q3t.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>
    window.systemsgs = null;
    window.unreadmsgs = null;
    </script>
    <script src="https://jirengu.com/addons/theme/stv1/_static/app/index-new/js/merge.js?v=7"></script>
    <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 61296);
</script>
</body>

</html>